<%- include("partials/header") -%>

<h1>home</h1>

<p> <%= homeText %></p>

<% posts.forEach((item) => { %>
    <h1> <%= item.title %> </h1>
    <p> <%= item.content %> </p>
<% }); %>


<%- include("partials/footer") -%>